<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>水果商城-{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            if ($('#show_count').text()=='0'){
                $.get('/cart/count/',function (data) {
                $('#show_count').text(data.count)
                })
            }
        })
    </script>
    {% block head %}{% endblock head %}
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到水果商城!</div>
			<div class="fr">
                {% if request.session.user_name|default:'' != '' %}
				<div class="login_btn fl">
					欢迎您：<em>{{ request.session.user_name }}</em>
                    <span>|</span>
                    <a href="/user/login_out/">退出</a>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>

    {% if switch == 1 %}
	<div class="search_bar clearfix">
		<a href="/index" class="logo fl"><img src="/static/images/logo.png" width="120px" height="70px"></a>
		<div class="search_con fl">
            <form action="/search/" method="get" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			    <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>

		</div>
		<div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">0</div>
		</div>
	</div>
    {% elif switch == 2 %}
    	<div class="search_bar clearfix">
		<a href="/index/" class="logo fl"><img src="/static/images/logo.png" alt="返回首页" width="120px" height="70px" ></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ btitle }}</div>
		<div class="search_con fr">
			<form action="/search/" method="get" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			    <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/" {% if mes == 1 %}class="active" {% endif %}>· 个人信息</a></li>
				<li><a href="/user/order/" {% if mes == 2 %}class="active" {% endif %}>· 全部订单</a></li>
				<li><a href="/user/address/" {% if mes == 3 %}class="active" {% endif %}>· 收货地址</a></li>
			</ul>
		</div>
    {% elif switch == 3 %}
        <div class="search_bar clearfix">
		<a href="/index/" class="logo fl"><img src="/static/images/logo.png" width="120px" height="70px" alt="返回首页"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ btitle }}</div>
		<div class="search_con fr">
			<form action="/search/" method="get" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			    <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
	</div>
    {% endif %}
{% block body %}{% endblock body %}
    <div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2018 河南理工大学 All Rights Reserved</p>
		<p>Tel：1551***6512</p>
	</div>
</body>
</html>