{% extends 'base.html' %}
{% block head %}
    <script>
        $(function () {
            function order() {
            ctotal=0;
            btotal=0;
            $('.col07').each(function () {
                cou=$(this).prev().text();
                price=$(this).prev().prev().text();
                stotal=parseFloat(cou)*parseFloat(price);
                btotal+=stotal;
                $(this).text(stotal.toFixed(2));
                ctotal++;
            });
            freigh=$('#order3').text();
            totals=parseInt(freigh)+parseFloat(btotal);
            $('#order1').text(ctotal);
            $('#order2').text(btotal.toFixed(2));
            $('#total5').attr('value',totals.toFixed(2));
            $('#order4').text(totals.toFixed(2));
            }
            order();
            place();
            function place() {
                $(':radio').each(function () {
                if($(this).attr('name')=='address'){
                    if($(this).prop('checked')){
                        $('#addr').attr('value',$(this).attr('id'))
                    }
                }
                else if ($(this).attr('name')=='pay_style'){
                    if($(this).prop('checked')){
                        $('#pay').attr('value',$(this).next().attr('class'))
                    }
                }

            })

            }
            $(':radio').click(function () {
                place()
            });
            var address_null=false;
            function checkaddres() {
                if($("[name='address']").val()==''){
                    alert('您暂未添加收货地址，请点击添加后再来提交')
                    address_null=true
                }
                else {
                    address_null=false
                }
            }
            $('#palce_order').submit(function () {
                checkaddres();
                if(address_null==true){
                    return false
                }
                else {
                    if(confirm('确认提交订单?')){
                    alert('订单提交成功!');
                    return true
                    }
                    else {
                        return false
                    }
                }

            })

        });
    </script>
{% endblock head %}
{% block body %}
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>

            {% for address in deliver %}
			<dd><input type="radio" name="address" id="{{ address.id }}" checked="">{{ address.daddress }} （{{ address.dname }} 收） {{ address.dphone }}</dd>
		    {% endfor %}
        </dl>
        {% if deliver %}
		<a href="/user/address/" class="edit_site">管理收货地址</a>
        {% else %}
        <a href="/user/address/" class="edit_site">添加收货地址</a>
        {% endif %}
	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
		{% for value in cart %}

		<ul class="goods_list_td clearfix">
			<li class="col01">{{ forloop.counter }}</li>
			<li class="col02"><img src="/static/{{ value.cfruit.fpic }}"></li>
			<li class="col03">{{ value.cfruit.ftitle|slice:'10'}}...</li>
			<li class="col04">{{ value.cfruit.funit }}</li>
			<li class="col05">{{ value.cfruit.fprice }}元</li>
			<li class="col06">{{ value.count }}</li>
			<li class="col07">16.80元</li>	
		</ul>
        {% endfor %}
	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em id="order1">2</em>件商品，总金额<b id="order2">42.60元</b></div>
			<div class="transit">运费：<b id="order3">10元</b></div>
			<div class="total_pay">实付款：<b id="order4">52.60元</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
        <form method="post" action="/order/create/" id="palce_order">
            {% csrf_token %}
            <input type="text" name="f_ids" value="{{ fruit_ids }}" hidden>
            <input type="text" id="total5" name="total" value="" hidden>
            <input type="text" id="pay" name="paystyle" value="" hidden>
            <input type="text" id="addr" name="address" value="" hidden>
            <input type="submit" id="order_btn" value="提交订单">
        </form>
	</div>

{%endblock body%}